---
- name: Deploy YAML manifests to Kubernetes
  hosts: localhost
  connection: local

  vars:
    kubeconfig_path: "{{ kubeconfig_path }}"
    image_tag: "{{ image_tag | default('v2') }}"

  tasks:

    - name: Apply Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        namespace: jenkins
        src: deployment.yaml
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Apply Kubernetes Service
      kubernetes.core.k8s:
        state: present
        namespace: jenkins
        src: service.yaml
        kubeconfig: "{{ kubeconfig_path }}"
